<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/" class="text-white text-2xl font-bold">FIFA App</a>
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/" class="text-gray-300 hover:text-white">Inicio</a></li>
    <li><a routerLink="/jugadores" class="text-gray-300 hover:text-white">Jugadores</a></li>
    <li><a routerLink="/jugador/search" class="text-gray-300 hover:text-white">Buscar Jugador</a></li>
    <li><a routerLink="/jugador/create" routerLinkActive="active" class="text-gray-300 hover:text-white">Crear Jugador</a></li>
    
    <ng-container *ngIf="!isLoggedIn()">
      <li><a routerLink="/login" class="text-gray-300 hover:text-white">Login</a></li>
      <li><a routerLink="/register" class="text-gray-300 hover:text-white">Registro</a></li>
    </ng-container>
    
    <ng-container *ngIf="isLoggedIn()">
      <li><a (click)="onLogout()" class="text-gray-300 hover:text-white cursor-pointer">Logout</a></li>
    </ng-container>
  </ul>
</nav>

<main class="container mx-auto p-4">
  <router-outlet></router-outlet>
</main>